body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at 10% 20%, rgb(101, 255, 253) 0%, rgb(36, 153, 238) 90%);}

nav{
    border: 2px solid black;
    font-size: 15px;
    background: linear-gradient(to right, rgb(29, 10, 38), rgb(67, 12, 45));
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-brand{
    font-size: 30px;
    color: rgb(13, 255, 0);
    align-items: center;
}

.navbar-brand:hover{
    color: rgb(255, 0, 0);
}
.nav-link{
    color: white;
}

.nav-link:hover{
    color: rgb(198, 132, 132);
}

h2{
    background: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
}

.collapse {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.form-label {
  margin-right: 100px;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


h4{
    background: linear-gradient(177.9deg, rgb(255, 228, 254) 5.3%, rgb(255, 228, 254) 5.3%, rgb(188, 132, 173) 94.7%);
}

@media screen and (max-width: 991px) {
  .collapse {
    display: inline;
  }
}